.block.related {
    .product-item {
        position: relative;
        min-height: 276px;
    }
    .products-grid .product-item-info:hover, .products-grid .product-item-info.active {
        min-height: 276px;
    }
    .product-item-details {
        position: initial;
    }
    .product-item-actions {
        position: absolute;
        bottom: 0;

    }
    .related-available .product-item-name {
        margin-left: 0;
    }
}
