.banner {
    position: relative;
    padding: 95px 0 76px 55px;
    display: block;
}

.banner__text {
    font-family: "Rajdhani";
    //margin-top: 95px;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    z-index: 1;
}
.banner__button-enter {
    margin-top: 50px;
    width: 120px;
    height: 40px;
    background: #346cd9;
    border-radius: 5px;
    border: none;
    //font-family: 'Open Sans';
    font-weight: 600;
    font-size: @normal-font;
    color: #ffffff;
    cursor: pointer;
}
.banner__image {
    position: absolute;
    right: 0;
    top: 0;


    //    margin-top: 74px;
}
.text-red {
    color: @main-color;
}
