& when (@media-common = true) {

    .winners {
        min-height: 367px;
    }

    .winners__header {
        font-family: 'Rajdhani';
        font-weight: 700;
    }

    .winners__content {
        display: flex;
    }

    .winners-item {
        width: 270px;
        height: 288px;
        background: #FFFFFF;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
    }

    .winners-item__name {
        margin: 7px 0 0 20px;
        font-family: 'Rajdhani';
        font-weight: 700;
        font-size: 20px;
        color: #252A34;
    }

    .winners-item__date {
        margin: 7px 0 0 20px;
        font-family: 'Open Sans';
        font-weight: 500;
        font-size: 14px;
        color: #343434;
    }
}

//
//Mobile Table
//

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .winners__header {
        text-align: center;
        font-size: 32px;
    }

    .winners__content {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .winners-item {
        margin: 20px 0;
    }
}

//
//Desktop
//

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .winners {
        padding: 40px 55px 30px;
    }

    .winners__header {
        text-align: center;
        font-size: 32px;
    }

    .winners__content {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .winners-item {
        margin: 20px 0;
    }
}
